.weather-container {
  display: flexbox;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
}
h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
