@font-face {
  font-family: "Moon-bold";
  src: url(/src/components/Fonts/Moon\ Bold.otf);
}
@font-face {
  font-family: "Moon-light";
  src: url(/src/components/Fonts/Moon\ Light.otf);
}
.background-class {
  background: var(--color-snow);
  background-attachment: scroll;
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-family: "Moon-light";
}
.background-class-bad {
  background: url("./images/ezgif-1-ce0ee9640b.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-family: "Moon-light";
  color: var(--color-snow);
}
.background-class-good {
  background: url("./images/tumblr_c4205bb1f4230f38c8e79b49055a9c67_f857fd00_640.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  height: 100vh;
  width: 375px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  align-self: center;
  justify-content: center;
  font-family: "Moon-light";
  color: var(--color-void);
}
@media (max-width: 375px) {
  .background-container {
    max-width: none;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}
